.gridContainer {
  display: grid;
  grid-template-columns: 50px auto;
  /* background: linear-gradient(90deg, rgb(12, 38, 167) 10%, rgb(180, 33, 62) 100%); */
  padding: 0px;
  gap: 1px;
  height: 80vh;
  width: 99vw;
  overflow: scroll;
  margin-top: 10px;
  /* border: white 3px solid; */
  /* border-radius: 5px; */
}

.pianoRollView {
  margin-bottom: 30vh;
}

.pianoRollView span {
  color: white;
  margin-left: 50px;
  font-weight: bolder;
}

.pianoRollView select {
  border-radius: 5px;
  border: none;
  padding: 2px;
  margin-left: 10px;
  text-align: center;
  font-weight: 900;
  font-size: small;
  outline: none;
  transition: border-radius 0.2s;
}

.pianoRollView select:focus {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: transparent;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-corner {
  opacity: 0;
}