.pianoTiles {
  display: grid;
  background-color: lightgray;
  grid-auto-rows: 1fr;
}

.pianoTileWhite {
  background-color: white;
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 25px;
  /* min-height: 2vh;
  height: 2.5vh; */
}

.pianoTileBlack {
  background-color: black;
  font-size: 10px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  /* min-height: 2vh;
  height: 2.5vh; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 25px;
}