.arrangementViewContainer {
  display: grid;
  grid-template-columns: 150px auto;
  background: linear-gradient(90deg, rgb(12, 38, 167) 10%, rgb(180, 33, 62) 100%);
  padding: 0px;
  height: 80vh;
  width: 100vw;
  overflow-y: hidden;
}

.trackHeaderColumn {
  /* border-right: 2px dashed black; */
  background: linear-gradient(90deg, rgb(11, 3, 56) 0%, rgb(12, 38, 167) 100%);
}

.trackHeader {
  background: linear-gradient(90deg, rgb(23, 3, 56) 0%, rgb(46, 12, 167) 100%);
  color: white;
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100px;
}