header {
    font-family: 'Brush Script MT', cursive;
    color: blanchedalmond;
    font-size: 6vh;
    text-align: center;
    background-color: black;
    height: 7vh;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}