.trackHeader button {
  position: absolute;
  bottom: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: filter 0.2s linear;
}

.trackHeaderDeleteButton {
  right: 2px;
}

.trackHeaderEditButton {
  right: 25px;
}

.trackHeader img {
  height: 20px;
  width: 20px;
}

.trackHeader button:hover {
  filter: invert();
}

.trackHeader {
  background-color: black;
  opacity: 0.8;
  color: white;
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100px;
  font-weight: bold;
  overflow: auto;
  position: relative;
}

.trackHeaderContainer {
  display: grid;
  grid-template-columns: 20px 80%;
  grid-template-rows: 50% 50%;
}

.trackHeaderTitle {
  width: 10px;
  padding: 10px;
}

.trackHeaderInstrumentName {
  font-weight: lighter;
  font-size: smaller;
  padding: 10px;
}