footer {
    background:
        linear-gradient(180deg, rgb(0, 0, 0, 0), black);
        /* linear-gradient(90deg, rgb(11, 3, 56) 0%, rgb(12, 38, 167) 8%, rgb(180, 33, 62) 100%); */
    height: 7vh;
}

footer button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    background-color: black;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

footer button:hover {
    background-color: grey;
    color: black;
}

.footerRightButtons {
    display: block;
    float: right;
}

.prefModal {
    position: absolute;
    top: 40%;
    left: 50%;
    background: var(--modal-bg-color);
    width: 350px;
    height: 20%;
    border-radius: 25px;
    margin-left: -175px;
    animation: showPopUp 0.5s ease-in-out 1 forwards;
    min-height: 200px;
}

/* @keyframes showPopUp {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
} */

.prefModalContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.prefModalContainer p {
    color: white;
    text-align: right;
    font-weight: bolder;
    margin: 0;
    padding: 7px 3px 0 0;
}

.prefModal input {
    margin-bottom: 25px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}

.prefModal select {
    margin-top: 10px;
    margin-bottom: 27px;
    margin-left: 10px;
    border-radius: 10px;
}

.prefModal button {
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.5s, padding 0.2s;
}

.prefModal button:hover {
    background-color: yellow;
    padding: 4px;
}

.prefModalSaveButton {
    bottom: 10px;
    right: 20px;
}

.prefModalCancelButton {
    bottom: 10px;
    left: 20px;
}

.signUpContainer {
    display: grid;
    height: 200px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
}

.signUpModal {
    position: absolute;
    top: 35%;
    left: 50%;
    background: var(--modal-bg-color);
    width: 500px;
    height: 30%;
    border-radius: 25px;
    margin-left: -250px;
    animation: showPopUp 0.5s ease-in-out 1 forwards;
    min-height: 200px;
}

.signUpModal p {
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 10px 20px 0 0;
    text-align: right;
}

.signUpModal input {
    text-align: center;
    margin: 4px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    border: none;
}

.signUpModal input:focus {
    background-color: yellow;
}

.signUpModal button {
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.5s, padding 0.2s;
}

.signUpModal button:hover {
    background-color: yellow;
    padding: 4px;
}

.signUpModalCancelButton {
    bottom: 10px;
    left: 20px;
}

.signUpModalSignUpButton {
    bottom: 10px;
    right: 20px;
}

.signInContainer {
    padding-top: 8%;
    display: grid;
    height: 200px;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, 1fr);
}

.signInModal {
    position: absolute;
    top: 40%;
    left: 50%;
    background: var(--modal-bg-color);
    width: 500px;
    height: 20%;
    border-radius: 25px;
    margin-left: -250px;
    animation: showPopUp 0.5s ease-in-out 1 forwards;
    min-height: 200px;
}

.signInModal p {
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 10px 20px 0 0;
    text-align: right;
}

.signInModal input {
    text-align: center;
    margin: 4px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    border: none;
}

.signInModal input:focus {
    background-color: yellow;
}

.signInModal button {
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.5s, padding 0.2s;
}

.signInModal button:hover {
    background-color: yellow;
    padding: 4px;
}
